@import 'var-colorCodes';
// Genrates a color scheme for a specific property.
// pass class name, the shade (a-j), and the CSS property
// 
// TODO:
// Pass a obejct to the arguments to do it for multiple properties. So we save a lot of CSS declarations
// Like: .generate-property-colorScheme(@className, [[@shade, @css-property],[@shade, @css-property],[...]])

// use it in your class so it will extend your class path with the colorScheme definitions
.generate-colorScheme(@shade, @css-property) {

    .-(@i: 1) when (@i <= length(@color-names)) {
        @name: e(extract(@color-names, @i));
        @code: e(extract(@color-codes, @i));
    
        @var-color-current: "@{code}-@{shade}";
        .colorScheme.@{name} & {
            @{css-property}:  @@var-color-current;
        }
        .-((@i + 1));
    } .-;
}
// pass the class name to generate the colorScheme for
.generate-property-colorScheme(@className, @shade, @css-property) {

    .-(@i: 1) when (@i <= length(@color-names)) {
        @name: e(extract(@color-names, @i));
        @code: e(extract(@color-codes, @i));

        @var-color-current: "@{code}-@{shade}";
        .colorScheme.@{name} @{className} {
            @{css-property}:  @@var-color-current;
        }
        .-((@i + 1));
    } .-;
}

.generateGradient (@start, @end) {
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(@start), to(@end));
    background-image: -webkit-linear-gradient(@start, @end);
    background-image: -moz-linear-gradient(@start, @end);
    background-image: -ms-linear-gradient(@start, @end);
    background-image: -o-linear-gradient(@start, @end);
    background-image: linear-gradient(@start, @end);
}

.generate-property-colorScheme-gradient(@className, @shadeFrom, @shadeTo) {

    .-(@i: 1) when (@i <= length(@color-names)) {
        @name: e(extract(@color-names, @i));
        @code: e(extract(@color-codes, @i));
    
        @var-color-from: "@{code}-@{shadeFrom}";
        @var-color-to: "@{code}-@{shadeTo}";
    
        .colorScheme.@{name} @{className} {
            .generateGradient(@@var-color-from, @@var-color-to);
        }
        .-((@i + 1));
    } .-;
}

// Example:
//
// Use the mising like: .generate-property-colorScheme(~".myItem", ~"j", ~"border-left-color"); 
// and it will generated:
//
//.colorScheme.gray .myItem {
//    border-left-color: #91979b;
//}
//.colorScheme.yellow .myItem {
//    border-left-color: #f49906;
//}
//.colorScheme.orange .myItem {
//    border-left-color: #e36600;
//}
//.colorScheme.red .myItem {
//    border-left-color: #bc111a;
//}
//.colorScheme.purple .myItem {
//    border-left-color: #614aa5;
//}
//.colorScheme.midBlue .myItem {
//    border-left-color: #165f9b;
//}
//.colorScheme.lightBlue .myItem {
//    border-left-color: #0a86c4;
//}
//.colorScheme.turquoise .myItem {
//    border-left-color: #04b0aa;
//}
//.colorScheme.midGreen .myItem {
//    border-left-color: #109c27;
//}
//.colorScheme.lightGreen .myItem {
//    border-left-color: #80ad0c;
//}
//.colorScheme.blueGreen .myItem {
//    border-left-color: #24965f;
//}
